<h1 class="title">Accredited programmes custody</h1>
<h2>Referrals</h2>
    {{#referrals}}
        <h3>Referral {{ optionalValue (getIndexPlusOne @index) }}</h3>
        <table class="summary-list">
            <tr><td>Status</td><td>{{ optionalValue statusCode }}</td></tr>
            <tr><td>Submitted on</td><td>{{ optionalValue (formatDate submittedOn) }}</td></tr>
            <tr><td>Referrer</td><td>{{ optionalValue referrerUsername }}</td></tr>
            <tr><td>Course name</td><td>{{ optionalValue courseName }}</td></tr>
            <tr><td>Organisation name</td><td>{{ optionalValue organisationName }}</td></tr>
            <tr><td>OASys confirmed</td><td>{{ convertBoolean oasysConfirmed }}</td></tr>
            <tr><td>Has reviewed programme history</td><td>{{ convertBoolean hasReviewedProgrammeHistory }}</td></tr>
            <tr><td>Primary POM staff surname</td><td>{{ optionalValue primaryPomStaffSurname }}</td></tr>
            <tr><td>Secondary POM staff surname</td><td>{{ optionalValue secondaryPomStaffSurname }}</td></tr>
            <tr><td>Has LDC</td><td>{{ convertBoolean hasLdc }}</td></tr>
            <tr><td>Has LDC been overridden by programme team</td><td>{{ convertBoolean hasLdcBeenOverriddenByProgrammeTeam }}</td></tr>
            <tr><td>Has reviewed additional information</td><td>{{ convertBoolean hasReviewedAdditionalInformation }}</td></tr>
            <tr><td>Referrer override reason</td><td>{{ optionalValue referrerOverrideReason }}</td></tr>
            <tr><td>Additional information</td><td>{{ optionalValue additionalInformation }}</td></tr>
        </table>
        {{#originalReferral}}
            <h4>Original referral</h4>
            <table class="summary-list">
                <tr><td>Course name</td><td>{{ optionalValue courseName }}</td></tr>
                <tr><td>Organisation name</td><td>{{ optionalValue organisationName }}</td></tr>
                <tr><td>Submitted on</td><td>{{ optionalValue (formatDate submittedOn) }}</td></tr>
                <tr><td>Status</td><td>{{ optionalValue statusCode }}</td></tr>
                <tr><td>Referrer surname</td><td>{{ optionalValue referrerSurname }}</td></tr>
                <tr><td>Referrer override reason</td><td>{{ optionalValue referrerOverrideReason }}</td></tr>
                <tr><td>Has LDC</td><td>{{ convertBoolean hasLdc }}</td></tr>
                <tr><td>Additional information</td><td>{{ optionalValue additionalInformation }}</td></tr>
            </table>
        {{/originalReferral}}
        <br>
    {{/referrals}}
    {{^referrals}}
        <p>No Data Held</p>
    {{/referrals}}

    <h2>Course participation</h2>
    {{#courseParticipation}}
        <h3>Course {{ optionalValue (getIndexPlusOne @index) }}</h3>
        <table class="summary-list">
            <tr><td>Course name</td><td>{{ optionalValue courseName }}</td></tr>
            <tr><td>Created date-time</td><td>{{ optionalValue (formatDate createdDateTime) }}</td></tr>
            <tr><td>Is draft</td><td>{{ convertBoolean isDraft }}</td></tr>
            <tr><td>Other course name</td><td>{{ optionalValue otherCourseName }}</td></tr>
            <tr><td>Outcome detail</td><td>{{ optionalValue outcomeDetail }}</td></tr>
            <tr><td>Created by</td><td>{{ optionalValue createdByUser }}</td></tr>
            <tr><td>Source</td><td>{{ optionalValue source }}</td></tr>
            <tr><td>Type</td><td>{{ optionalValue type }}</td></tr>
            <tr><td>Outcome</td><td>{{ optionalValue outcomeStatus }}</td></tr>
            <tr><td>Year started</td><td>{{ optionalValue yearStarted }}</td></tr>
            <tr><td>Year completed</td><td>{{ optionalValue yearCompleted }}</td></tr>
            <tr><td>Location</td><td>{{ getPrisonName location }}</td></tr>
            <tr><td>Updated by</td><td>{{ optionalValue updatedByUser }}</td></tr>
            <tr><td>Updated date-time</td><td>{{ optionalValue (formatDate updatedDateTime) }}</td></tr>
            <tr><td>Detail</td><td>{{ optionalValue detail }}</td></tr>
        </table>
        <br>
    {{/courseParticipation}}
    {{^courseParticipation}}
        <p>No Data Held</p>
    {{/courseParticipation}}



