---
# Per environment values which override defaults in hmpps-accredited-programmes-api/values.yaml

generic-service:
  ingress:
    host: accredited-programmes-api.hmpps.service.justice.gov.uk
    tlsSecretName: hmpps-accredited-programmes-api-prod-cert

  env:
    JAVA_OPTS: "-Xmx2048m"
    HMPPS_AUTH_URL: https://sign-in.hmpps.service.justice.gov.uk/auth
    SERVICES_PRISON-API_BASE-URL: https://prison-api.prison.service.justice.gov.uk
    SERVICES_PRISONER-SEARCH-API_BASE-URL: https://prisoner-search.prison.service.justice.gov.uk
    SERVICES_PRISON-REGISTER-API_BASE-URL: https://prison-register.hmpps.service.justice.gov.uk
    SERVICES_OASYS-API_BASE-URL: https://accredited-programmes-and-oasys.hmpps.service.justice.gov.uk
    SERVICES_MANAGE-OFFENCES-API_BASE-URL: https://manage-offences-api.hmpps.service.justice.gov.uk
    SERVICES_CASE-NOTES-API_BASE-URL: https://offender-case-notes.service.justice.gov.uk
    SERVICES_ALLOCATION-MANAGER-API_BASE-URL: https://moic.service.justice.gov.uk
    SERVICES_NOMIS-USER-ROLES-API_BASE-URL: https://nomis-user-roles-api.prison.service.justice.gov.uk
    SERVICES_PRISONER-ALERTS-API_BASE-URL: https://alerts-api.hmpps.service.justice.gov.uk
    SERVICES_ASSESS-RISKS-AND-NEEDS-API_BASE-URL: https://assess-risks-and-needs.hmpps.service.justice.gov.uk
    SENTRY_ENVIRONMENT: prod
    HMPPS_SQS_QUEUES_AUDIT_QUEUE_NAME: "Digital-Prison-Services-prod-hmpps_audit_queue"
    FEATURESWITCH_CASE-NOTES-ENABLED: true
    ENVIRONMENT-NAME: prod

  allowlist:
    groups:
      - internal
      - prisons
      - private_prisons

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps-accredited-programmes-alerts-prod

elasticCacheAlertsClusterIds:
  - "cp-6452ece94964c687-001"
  - "cp-6452ece94964c687-002"

rdsAlertsDatabases:
  "db36754f4afedbe608": "Accredited Programmes API Database"

dataExtractorEnabled: true
dataRefreshEnabled: true

spring:
  application:
    environment: prod